
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Html.PartialAsync("~/Views/Partials/_GuestHeadPartial.cshtml")

<body>

    <div id="heroarea" class="hero_area">

        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="/guesthome/images/hero-bg.png" alt="">
            </div>
        </div>

        <!-- header section strats -->
        @await Html.PartialAsync("~/Views/Partials/_GuestHeader.cshtml")
        <!-- end header section -->
        <!-- slider section -->
        @RenderSection("HeroContent", required: false)
        <!-- end slider section -->
    </div>

    @RenderBody()
    
    <!-- footer section -->
    @await Html.PartialAsync("~/Views/Partials/_GuestFooter.cshtml")
    <!-- footer section -->
    <!-- jQery -->
    @await Html.PartialAsync("~/Views/Partials/_GuestScripts.cshtml")
    <!-- End Google Map -->
    <a href="#heroarea" id="backToTop" class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>
</body>

</html>




