<section class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> DoTech - İnternet Teknolojileri. Tüm Hakları Saklıdır.
        </p>
    </div>
</section>